<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <table>
        <tr>
            <th>first name</th>
            <th>last name</th>
            <th>age</th>
        </tr>
        {% for i in data %}
        <tr>
            <td>{{i.first}}</td>
            <td>{{i.last}}</td>
            <td>{{i.age}}</td>
        </tr>
        {%endfor%}

    </table>


    
</body>
</html>