<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/shows">go back</a>
    <h1>Add a New Show</h1>
    <form action="/shows/creat" method="Post">
    {% csrf_token %}

    <label for="">Title</label>
    <input type="text" name="title"><br>

    <label for="">Network</label>
    <input type="text" name="network"><br>

    <label for="">Release Date</label>
    <input type="date" name="release"><br>

    <label for="">description</label>
    <textarea name="des" id=""></textarea>

    <input type="submit" value="Creat">
</form>
    {% if errors %}
    <ul>
        {% for field, error in errors.items %}
            <li><strong>{{ field }}:</strong> {{ error }}</li>
         {% endfor %}
    </ul>
    {% endif %}

</body>
</html>