<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>All Shows</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Network</th>
            <th>Release Date</th>
            <th>Action</th>
        </tr>
        {%for i in shows %}
        <tr>
            <td>{{i.id}}</td>
            <td>{{i.title}}</td>
            <td>{{i.network}}</td>
            <td>{{i.release_date}}</td>
            <td><a href="shows/{{i.id}}">show</a>|<a href="/shows/{{i.id}}/edit">Edit</a>|<a href="/shows/{{i.id}}/destroy">Delete</a></td>
        </tr>
        {%endfor%}
    </table>
    <a href="/shows/new">Add a New Show</a>
    
</body>
</html>