<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>thank you for your orde!</h1>
        <p>We ordered 5 items for you and your student account on march 23rd 2019 5:15:35PM</p>
        <h2>you have ordered</h2>
        <table>
            <tr>
                <th>Fruit Name</th>
                <th>Quantity</th>
            </tr>
            <tr>
                <th>Strawberry</th>
                <th>{{Order_str}}</th>
            </tr>
            <tr>
                <th>Raspberry</th>
                <th>{{Oreder_Ros}}</th>
            </tr>
            <tr>
                <th>Apple</th>
                <th>{{Order_Apple}}</th>
            </tr>
        </table>
        <label for="">name:</label>
        <label for="">{{Name}}</label><br>
        <label for="">Your student ID</label>
        <label for="">{{ID}}</label>
    </div>
    
</body>
</html>