<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add an Author</h1>
    <form action="/add_author" method="post">
    {% csrf_token %}

    <label for="">First name</label>
    <input type="text" name="firstname"><br>

    <label for="">Last name</label>
    <input type="text" name="last_name"><br>

    <label for="">Notes</label>
    <input type="text" name="note"><br>

    <button>ADD</button>
    </form>


    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Notes</th>
            <th>Action</th>
        </tr>
        {%for author in  authors   %}
        <tr>
        <td>{{author.id}}</td>
        <td>{{ author.first_name}} {{author.last_name}}</td>
        <td>{{author.notes}}</td>
        <td><a href="author/{{author.id}}">view</a></td>
        </tr>
        {%endfor%}
    </table>

    





    
</body>
</html>