<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h1>{{book.title}}</h1>
<p>ID:{{book.id}}</p>
<p>Description:{{book.desc_Text}}</p>

<p>Authors:</p>

{%for i  in book.authors.all%}
<p>{{i.first_name}}</p>
{%endfor%}

<form action="/display_author/{{book.id}}" method="POST">
{% csrf_token %}
<select name="authors_id" id="">
    {% for author in authors%}
    <option value="{{author.id}}">{{author.first_name}} {{author.last_name}}</option>
    {%endfor%}
</select>

<input type="submit" value="Add">

</form>
    
</body>
</html>