<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Add a book</h1>
  
    <form action="/Add_book" method="post">
        {% csrf_token %}
        <label for="">Title</label>
        <input type="text" name="title_book"><br>

        <label for="">Description</label>
        <textarea name="desc_book" id=""></textarea><br>

        <button>ADD</button>
    </form>


    <table>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Action</th>
        </tr>
        {%for book in books%}
        <tr>
            <td>{{book.id}}</td>
            <td>{{book.title}}</td>
            <td><a href="{% url 'bookdesc' book.id %}">view</a></td>
        </tr>
        {%endfor%}
    </table>





    
</body>
</html>