<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Welcome to the Great Number Game!</h2>
    <p>I am thinking of a number between 1 and 100</p>
    <p>Take a guess!</p>
    <form action="/process" method="POST"> 
        {% csrf_token %}
        <input type="text" name="guess"><br>
        <input type="submit" name="submit">
    </form>
    

    <p>{{request.session.message}}</p>

    <form action="/reset" method="POST">
        {% csrf_token %}
        <input type="submit" value="play again">
    </form>
    
</body>
</html>