*{margin: 0;
 padding: 0;
 box-sizing: border-box;
}

.main{
    width: 50%;
    height: 800px;
    margin: 40px auto;
    
}
.rows{
    width: 12%;
    height: 90px;
    display:inline-block;
    
}
.cols{
    width: 12.%;
    height: 90px;
}