<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div clas="container">
        
        <h1>Add a Dojo</h1>
        <form action="/add_dojo" method="post">
        {% csrf_token %}
        <label for="">Name:</label>
        <input type="text" name="name"><br>

        <label for="">City:</label>
        <input type="text" name="city"><br>

        <label for="">State:</label>
        <input type="text" name="state"><br>

        <input type="submit" value="Add">
    </form>
    </div>
    
    <div>
        
        <h1>Add a Ninja</h1>
        <form action="/add_Ninja" method="POST">
        {% csrf_token %}
        <label for="">First Name</label>
        <input type="text" name="firstname"><br>

        <label for="">Last name:</label>
        <input type="text" name="lastname"><br>

        <label for="">Dojo:</label>
         <select name="dojo_id"  >
            <option value="dojo_id" disabled selected>-Select a dojo-</option>
            {%for i in dojos%}
            <option value="{{i.id}}">{{i.name}}</option>
            {% endfor %}
            
         </select><br>

         <input type="submit" value="Add">
        </form>
    </div>



</body>
</html>